
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root {
    --bg-color:#000000;
    --second-bg-color:#89caf0;
    --text-color:white;
    --main-color:#1546e7;
}
html{
    
    overflow-x: hidden;
    height:100%;
}

body{
   display: block;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    
}
.header{
    z-index: 2;
    height: 100px;
    position:fixed;
    background-color:#032337 ;
    top:0;
    left:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.front{
    padding-left: 30px;
    color:var(--text-color);
    text-shadow: 5px 5px 20px var(--main-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    margin-left: 30px;
    transition: 0.3s ease-in-out;
}


    .nav-list li li:hover{
        transform: scale(1.1, 1.1);
    }
    .nav-list:hover > li:not(:hover){
        filter:blur(10px);
        transform: scale(0.9, 0.9);
    }
.nav-list li{
    color:var(--text-color);
    transition: 0.3s ease-in-out; 
}
.nav{
    color: var(--text-color);
}
 .nav-list li:hover{
    transform: scale(1.3)translateY(-5px);
 }
.navigation li {
    text-shadow: 2px 2px 2px #05053b;
    font-size: 25px;
    font-weight: 600;
   align-items: center;
        float: right;
        width: 7em;
        padding: 10px;
    }
    .nav-list a{
        text-decoration: none;
    }
     li::marker{
        background-color: #032337;
  
    }
    .color-container{
        height: 40px;
        width:65px;
        background-color: #fff;
        border-radius: 20px;
        margin-right: 50px;v
    }
    .circle{
        height: 30px;
        width:30px;
        background-color: #000000;
        border-radius: 50px; 
        margin-top: 5px;
    margin-left: 5px; 
    }
    
    .user{
        text-decoration: none;
        color: var(--text-color);
        display: flex;
        text-align: center;
        justify-content: end;
        align-items:center;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
       align-items: center;
            float: right;
            width: 100px;
            padding: 10px;
            padding-right: 40px;
    }
    .comment-dots{
        position: absolute;
        z-index: 2;
        height: 200px;
        width: 200px;
        background-color: red;;

    }
    .nav-list{
        display: flex;
        align-items: center;
        margin-left: 65px;
    }

    .text{
        display: flex;
        padding-top: 300px;
        margin: 100px;

    }
    .about-us{
        height: 90vh;
        background-image: url(./it.jpg);
        background-size: contain;
    }
    .about-us::after{
        content:"";
        position: absolute;
        /* height: 110vh; */
        background: var(--bg-color);
        opacity: .75;
        height: 100%;
        width:100%;;
        top:0;
        left:0;
        background-size: contain;
    }

    .first-artic{
        text-shadow: 3px 3px 20px #1111f3;
        z-index: 1;
        margin: auto;
color:var(--text-color);
font-weight: 800;
font-size: 40px;
text-align: center;
margin-top: 0;
    }
    .social-icons {
        margin-top: 270px;
        z-index: 1;
        list-style: none;
        display: block;
        position:relative;
        text-align: center;
    }
    .social-icons li{
        display: inline-block;
        margin:1em;
        position: relative;
        font-size:3em;
        margin-top: -14rem;
    }
    .social-icons i{
        cursor: pointer;
        color: #fff;
        position: absolute;
        top: 21px;
        left: 21px;
        transition: all 265ms ease-out;
    }
    .social-icons a{
display: inline-block;
    }
    .social-icons a:before{
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        content: " ";
        width: 90px;
        height: 90px;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #00b5f5, #002a8f);
        transition: all 265ms ease-out;
    }
    .social-icons a:hover:before{
        transform: scale(0);
        transition: all 265ms ease-in;
    }
    .social-icons a:hover i {
        transform: scale(2.2);
        -ms-transform: scale(2.2);
        -webkit-transform: scale(2.2);
        color: #00b5f5;
        background: -webkit-linear-gradient(45deg, #00b5f5, #002a8f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 265ms ease-in;
    }

    .second-site{
        color: var(--text-color);
display: flex;

    }
    section .about-us{
        min-height: 90vh;
        padding: 10rem 12% 10rem;
        background-color: var(--second-bg-color);
    }

    .second-site{
        margin-left: -20px;
        min-height: 90vh;
        min-width: 100%;
        padding: 10rem 12% 10rem;
        background-color: var(--main-color);
    }
    .recrut-text{
        display: flex;
        justify-content: space-between;
        height:0;
    }
    .box-recruters{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .box-rec{
        border-radius: 10px;
        height: 100%;
      width: 100%;
       background-color: rgb(255, 255, 255);
    }
    .div{
        height: 200px;
width: 500px;
        display: flex;
        margin-top: 300px;
    }

    .three{
        min-height: 100vh;
        padding: 10rem 12% 10rem;
        background-color: var(--bg-color);  
    }
    h2{
        margin-top: 10px;
        color:var(--text-color);
        text-align: center;
    }
    .text-fb{
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 40px;
    }
    .title-fb, h3{
        margin-top: -55px;
        text-align: center;
        color:var(--text-color);
        text-align: center;
        font-size: 50px;
        font-weight: 800;
        text-align: center;
        margin: auto;
        margin-top: 6rem;
    }
    h3{
        margin-top: 0;
        text-shadow: 5px 5px 10px rgb(100, 100, 241);
    }
    .img-recr{
        height: 140px;
        width: 140px;
        border-radius: 50%;
    }
    .feedback{
        gap: 5rem;
        cursor: pointer;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 6rem;
display: flex;
justify-content: center;

    }
    .one-img{
        margin-top: 60px;
    }
    .two-img{
        margin-top: 60px;
    }
    .four-img{
        margin-top: 60px;
    }
    .user-img{
        height: 35px;
        
    }
    .three-img{
        margin-top: 60px;
    }
 .feedbaack-title{
        color: black;
       
    }
    .paragra-feedback{
        color: black;
        padding: 20px;
    }
    .fb .fb:hover{
        transform: scale(1.1, 1.1);
    }
    .fb .fb:hover{
        transform: scale(1.1, 1.1);
        
    }
    .feedback:hover > .fb:not(:hover){
        filter:blur(10px);
        transform: scale(0.9, 0.9);
    }
    .fb{
        text-align: center;
        color: var(--text-color);
height:300px;
width: 200px;
border-radius: 30px;
transition: 0.3s ease-in-out;
}
    .fb:hover{
        
transform: scale(1.7)translateY(-8px);
display: flex;
justify-content: center;
align-items: center;
    }
    .icons {
        background-color: white;
        height: 350px;
        width: 250px;
        border-radius: 20px;
        margin-top: 19px;
        margin-left: 10px;
    }
.bx {
color: rgb(17, 0, 255);
}
.bxs-star-one{
    margin-top: 0.8rem;
}
.bxs-star-two{
    margin-top: 4rem;
}
.bxs-star-three{
    margin-top: 3.2rem;
}
.bxs-star-four{
    margin-top: 3rem;
}
   .four{
    padding: 25rem 12% 50rem;
    background-color: var(--main-color);
   }
   .four h4{
    margin-top: -14rem;
   }
   .contact-us{
    margin-top: -5rem;
   }
   h4{
    text-align: center;
   color: var(--text-color);
   font-weight: 800;
   font-size: 70px;
   margin-top: -150px;
   }
   span{
    color: var(--bg-color);
    text-shadow: #33a3e4;
   }
   .input{
    margin-top: 8rem;
    color: var(--text-color);
    background-color:var(--main-color);
  text-align: center;
   }
  .inp{
    margin-top: 30px;
    font-size: 2rem;
  }
  .sub-btn{
    width: 30rem;
    margin-top: 25rem;
    width: 100px;
    margin-top: 15rem;
    width: 50%;
    transition: 0.3s ease-in-out;
    border: none;
    cursor: pointer;
  }
  .sub-btn:hover{
    background-color: var(--bg-color);
    color: var(--text-color);
    box-shadow: 3px 3px 40px black;
  }
   .input-box{
    display: flex;
    flex-direction: column;
    color: var(--bg-color);
    height: 40vh;
   }
   .input-box input{
    padding: 2.5rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    border: 2px solid var(--bg-color);
    border-radius: 10px;
    background-color: var(--second-bg-color);
    color: var(--bg-color);}
   option{
height: 100px;
width: 100px;
   }
   .sub-btn{
    margin: auto;
    margin-top: 3rem;
   }
   .posision{
    cursor: pointer;
    margin-top: -6.8rem;
    height: 100px;
font-size: 2rem;
height: 110px;
border-radius: 10px;

border: var(--bg-color);
border: 2px solid var(--bg-color);
background-color: var(--second-bg-color);

justify-content: center;
margin-top: 3rem;
padding-left: 25px;
color: rgb(104, 103, 103);
   }
 
   .choose{
    cursor: pointer;
    padding-left: 25px;
    font-size: 2rem;
    color: rgb(104, 103, 103);
    height: 110px;
    border-radius: 10px;
    border: var(--bg-color);
    border: 2px solid var(--bg-color);
    background-color: var(--second-bg-color);
    display: flex;
    justify-content: center;
   margin-top: 3rem;
   }
   .all-btns{
    display: grid;
    
   }
   .opt{
    color: grey;
    font-size: 5px;
   }
   .footer{
    min-width: 100%;
    margin: 0;
    width: 100%;
    margin-top: -200px;
    background-color: var(--bg-color);
   }
footer .div-footer{
    margin-top: 70px;
}
.footer .list{
    margin-top: -30px;
color: var(--text-color);
text-align: center;
}
.footer .list a {
    margin-top: 5em;
    padding-top: 30px;
    text-decoration: none;
color: var(--text-color);
}
.footer .list ul{
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
}

.social-icons-footer{
    display: flex;
    gap: 20px;
    font-size: 1.7rem;
}
.social-container-footer a {
   color: white;
}
.social-container-footer{
    padding: 20px;
    justify-content: center;
    display: flex;
}
   .copyright{
    margin-top: 3rem;
    padding-top: 8px;
    color: var(--text-color);
    text-align: center;
   }
   li::marker{
    font-size: 0;
   }

   ::-webkit-scrollbar {
    width: 15px;}
    ::-webkit-scrollbar-thumb {
        background-color: var(--main-color);
    }
@media (max-width: 800px) {
    .choose, .posision{
        min-width: 37.5rem;
    }
    header{
        padding:2rem 3%;
    }
    .color-container{
        display: none;
    }
    .icons{
        background-color: white;
        height: 270px;
        width: 180px;
        border-radius: 20px;
        margin-top: 19px;
        margin-left: 10px;
    }

}
@media(max-width:1400px){
   .navigation{
    display: none;
   }
.color-container{
display: none;
}
.front{
    margin: auto;
}

.bx-menu::before{
    color: white;
    font-size: 3rem;
    }
}
@media(max-width:550px){
.first-artic{
    font-weight: 600;
    font-size: 30px;
    margin-top: -8rem;
}
.social-icons {
    margin-top: 150px;
}
}
@media(max-width:770px){
.first-artic{
    margin-top: -10rem;
}}